.navbar {
    display: inline-block;
    position: absolute;
    margin-top: 85px;

    a {
        font-family: "RobotoSlab", serif;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        transition: .2s ease;

        &:hover {
            letter-spacing: 5px;
            transition: .2s ease;
        }

        &:visited {
            color: rgb(80, 80, 80);
        }

        li {
            width: 120px;
            height: 120px;
            text-align: center;
            list-style: none;
            margin-top: 30px;
            margin-bottom: 30px;

            div {
                padding-top: 50px;
            }
        }
    }
}